HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**


*/.git/*

.metadata
.metadata/*
*/.metadata/*
**/.metadata/*

.recommenders
.recommenders/*
*/.recommenders/*
**/.recommenders/*

.settings
.settings/*
*/.settings/*
**/.settings/*

.gradle
.gradle/*
*/.gradle/*
**/.gradle/*

.classpath
*/.classpath
**/.classpath

.project
*/.project
**/.project

bin
*/bin
*/bin/*
**/bin/*

target/*
*/target
*/target/*
**/target/*

*/logs
*/logs/*
**/logs/*

.springBeans
*/.springBeans
**/.springBeans

*/.DS_Store
**/.DS_Store

tmlog.lck
*/tmlog.lck
**/tmlog.lck
tmlog0.log
*/tmlog0.log
**/tmlog0.log

*.log
*/*.log
**/*.log


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
